<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/admin/css/pintuer.css">
<link rel="stylesheet" href="/admin/css/admin.css">
<script src="/admin/js/jquery.js"></script>
<script src="/admin/js/pintuer.js"></script>
</head>
<body>
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 订单列表</strong> <!-- <a href="" style="float:right; display:none;">添加食品</a></div> -->
    <div class="padding border-bottom">
      <ul class="search" style="padding-left:10px;">
        <!-- <li> <a class="button border-main icon-plus-square-o" href="/admin/food/add">添加食品</a> </li> -->
        <li>搜索：</li>
        <li>
          <form method="get" action="" id="listform">
            <input type="text" value="<%= search %>" placeholder="请输入搜索桌子号" name="search" class="input" style="width:250px; line-height:17px;display:inline-block" />
            <button class="button border-main icon-search">搜索</button>
          </form>
        </li>
      </ul>
    </div>
    <table class="table table-hover text-center">
      <tr>
        <th width="100" style="text-align:left; padding-left:40px;">ID</th>
        <th>食品名称</th>
        <th>食品图片</th>
        <th>食品份数</th>
        <th>用户的桌子号</th>
        <!-- <th>食品上架/下架</th> -->
        <th width="310">操作</th>
      </tr>
      <% data.forEach(item=>{ %>
        <tr>
          <td><%=item.id%></td>
          <td><%=item.spname%></td>
          <td>
            <img style="width:100px;height:50px;" src="<%= item.img %>" alt="">
          </td>
          <!-- <td><%=item.price%></td> -->
          <td>
            <input style="text-align:center;width:50px;" type="number" name="" id="sid" onchange="changeSort(<%= item.id %>)" value="<%= item.count %>" min="1" max="<%= item.count %>">
          </td>
          <td>
            <%= item.zid %>
            <!-- <% if(item.status==0){ %>
              <a class="button border-green" href="javascript:;" onclick="status(this,<%= item.id%>,1)"></span>上架</a>
            <% }else{ %>      
              <a class="button border-black" href="javascript:;" onclick="status(this,<%= item.id%>,0)"></span>下架</a>
                  <% } %> -->
          </td>
          <td>
            <!-- <a class="button border-main" href="/admin/food/edit?id=<%= item.id %>"><span class="icon-edit"></span> 修改</a>  -->
              <a class="button border-red" href="javascript:" onclick="del(this,<%= item.id %>)"><span class="icon-trash-o"></span>删除</a> 
          </td>
        </tr>
      <% }) %>
      <tr>
        <td colspan="8">  
          <div class="pagelist"> 
            <!-- 减号是ejs模块中将变量里面的html代码 解析成浏览器认识的html结构 -->
            <!-- <%- show %> -->
            <% if(data.length!==0){ %>
              <%- show %>
            <% }else{ %>
              对不起,该桌子尚无客人下单!
            <% } %>
          </div>
        </td>
      </tr>
    </table>
  </div>
</body>
<script>
  //ajax无刷新删除
  function del(obj,id){

    if(confirm('你确认要删除此订单吗!')){
      $.get('/admin/cart/ajax_del',{id:id},(data)=>{
        if(data==1){
          $(obj).parent().parent().remove();
          location.href="/admin/cart/";
        }
      })
    }else{
      return false;
    }
  }
  //ajax无刷新更改顺序
  function changeSort(id){
    let newCount=$('#sid').val();
    $.get('/admin/cart/ajax_changeSort',{id:id,count:newCount},(data)=>{
      if(data==1){
        alert('修改成功');
      }
    })
  }
</script>
</html>